
<h1>.:Q-fazereS:.</h1>

<br/>

<p><%= link_to "Logue-se", new_user_session_path %> ou <%= link_to "Cadastre-se", new_user_registration_path %> para poder cadastrar suas listas de tarefas e utilizar o sistema.</p>
