<h1>Meus Favoritos</h1>
<br />

<% @lists.each do |list| %>
  <div class="row">
    <div class="col-md-8">
      <%= render list %>
    </div>
    <div class="col-md-2">
      <% f = Favorito.where(list_id: list).first %>
      <%= link_to "Remover", user_list_favorito_delete_path(@user, list, f.id), method: :delete, class: "btn btn-sm btn-default form-control" %>
      <%= link_to "Ver Lista", user_list_path(@user, list), class: "btn btn-sm btn-default form-control" %>
    </div>
  </div>
  <br />
<% end %>
